.showAssetbtn{
    width: 80%;
    border-radius: 0px !important;
}
.titleDesc{
    font-size: medium;
}
.assetBlock{
    width: 80%;
    background: darkseagreen;
    margin: 20px;
    padding: 1px;
}