.tabscontent {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin: auto;
    padding-top: 30px;
}
.tablinks {
    border-radius: 5px;
    width: 25%;
}