.input {
    height: 30px;
    width: 25%;
    text-align: center;
}
.formtoken-wrapper {
    background: lightblue;
    width: 80%;
    padding: 20px 0px 20px 0px;
}
.showMessage {
    color: green;
    font-size: medium;
}